/* src/main/frontend/src/pages/login/loginPage.css */

/* 로그인 페이지 전체를 중앙에 배치 */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 로그인 박스 스타일 */
.login-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 쌓이게 함 */
    align-items: center; /* 수평 중앙 정렬 */
}

/* 로그인 헤더 스타일 */
.login-header {
    font-size: 24px;
    font-weight: bold;
}

/* 버튼 기본 스타일 */
.login-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-weight: bold;
    height: 50px; /* 모든 버튼의 높이를 50px로 통일 */
}

/* 각 로그인 버튼의 색상 */
.kakao {
    background-color: #fee500;
    color: #3c1e1e;
}

.naver {
    background-color: #03c75a;
    color: white;
}

.google {
    background-color: #ffffff;
    color: black;
    border: 2px solid #f1f1f1; /* 테두리 추가 */
}

/* 로그인 텍스트 아래 아이콘 스타일*/
.user-icon {
    margin-top:10px;
    font-size: 100px;
}

/* 개별 아이콘의 크기 조정 */
.kakao .login-icon {
    font-size: 32px; /* 카카오 아이콘 크기 */
    margin-left: 25px;
    margin-right: 25px;
}

.naver .login-icon {
    font-size: 24px; /* 네이버 아이콘 크기 */
    margin-left: 28px;
    margin-right: 30px;
}

.google .login-icon {
    font-size: 33px; /* 구글 아이콘 크기 */
    margin-left: 22px;
    margin-right: 25px;
}

/* 텍스트 정렬 */
.login-text {
    flex-grow: 1;
    text-align: left;
    padding-right: 15px; /* 텍스트의 오른쪽 여백 조정 */
}

/* 구글 텍스트만 글자 간격 조절 */
.google .login-text {
    letter-spacing: 0.075em; /* 간격 조정. 1.2px */
    word-spacing: 2px; /* 단어 간격 조절 */
}

/* 버튼 호버 스타일 */
.login-button:hover {
    opacity: 0.9;
}
