/* src/main/frontend/src/pages/home/components/noticeTable.css */

.notice-table-container {
    margin-bottom: 30px;
}

.table-name {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
}

.notice-table th,
.notice-table td {
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    padding: 6px;
    text-align: center;
    height: 30px; /* 모든 셀의 높이를 40px로 고정 */
    vertical-align: middle; /* 텍스트를 수직으로 가운데 정렬 */
}

.notice-table td:nth-child(3) {
    text-align: left;
    white-space: nowrap; /* 줄바꿈을 하지 않도록 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}

.notice-title a {
    text-decoration: none;
}

.notice-title a:hover {
    text-decoration: underline;
}

.notice-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.toggle-button-cell {
    text-align: right; /* 버튼을 셀 오른쪽에 정렬 */
    padding: 0;
    margin: 0;
    height: 30px; /* 다른 셀과 동일한 높이로 설정 */
    vertical-align: middle; /* 버튼을 수직으로 가운데 정렬 */
}

.toggle-button {
    border: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    filter: brightness(0.9);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.new-badge {
    animation: blink 2s linear infinite;
}